body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type="submit"] a{
    color: #fff;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  